<div class="overlay"></div>
<div class="main">

    <!-- Sign up form -->
    <section class="signup">
        <div class="container">
            <div class="signup-content">
                <div class="signup-form">
                    <h2 class="form-title">Sign up</h2>
                    <form class="register-form" id="register-form" [formGroup]="form" (ngSubmit)="submit()">
                        <div class="form-group">
                            <label for="name"><i class="zmdi zmdi-account material-icons-name"></i></label>
                            <input formControlName="Name" type="text" name="name" id="name" placeholder="Your Name"/>
                            <div class="validation" *ngIf="form.get('Name').invalid && formSubmitted">
                                Please enter your name.
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="email"><i class="zmdi zmdi-email"></i></label>
                            <input type="email" formControlName="Email" name="email" id="email" placeholder="Your Email"/>
                            <div class="validation" *ngIf="form.get('Email').invalid && formSubmitted">
                                <div *ngIf="form.get('Email').errors.required">
                                    Please enter your email.
                                </div>
                                <div *ngIf="form.get('Email').errors.email">
                                    Please enter an valid email.
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="pass"><i class="zmdi zmdi-lock"></i></label>
                            <input type="password" formControlName="Password" name="pass" id="pass" placeholder="Password"/>
                            <div class="validation" *ngIf="form.get('Password').invalid && formSubmitted">
                                <div *ngIf="form.get('Password').errors.required">
                                    Please enter your password.
                                </div>
                                <div *ngIf="form.get('Password').errors.minlength">
                                   Password must have minimum 8 charcters.
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="re-pass"><i class="zmdi zmdi-lock-outline"></i></label>
                            <input type="password" formControlName="confirmpassword" name="re_pass" id="re_pass" placeholder="Confirm your password"/>
                            <div class="validation" *ngIf="form.get('confirmpassword').invalid && formSubmitted">
                                <div *ngIf="form.get('confirmpassword').errors.required">
                                    Please confirm your password.
                                </div>
                            </div>
                            <div class="validation" *ngIf="invalidConfirmPassword">
                                Confirm Password must be same as password.
                             </div>
                        </div>
                        
                        <div class="form-group form-button">
                            <button type="submit" id="signup" class="btn">Submit</button>
                        </div>
                    </form>
                </div>
                <div class="signup-image">
                    <div class="welcome-text">
                        <h4>
                            Welcome to
                        </h4>
                        <img src="assets/img/logo.png" alt="" class="logo-img">
                    </div>
                    <figure><img src="assets/img/signup-img.svg" class="signup-img" alt="sign up image"></figure>
                    <div style="text-align: center;">
                        <a routerLink="/login" class="signup-image-link">I'm already member</a>
                    </div>
                </div>
            </div>
        </div>
    </section>



</div>


<div class="modal" id="successModal" role="dialog" #successModal>
    <div class="modal-dialog modal-md">
      <div class="modal-content">
        <div class="modal-head">
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            (click)="modal.closeModal(successModal)"
          >
            &times;
          </button>
        </div>
        <div class="modal-body">
          <img
            src="assets/img/mail.png"
            alt=""
          />
          <h2>
           Signup successful.
           <br>
           Login now to get started.
          </h2>
        </div>
        <button
          type="button"
          class="btn"
          routerLink="/login"
        >
          Login
        </button>
      </div>
    </div>
  </div>

  
  <div class="modal" id="mailExists" role="dialog" #mailExists>
    <div class="modal-dialog modal-md">
      <div class="modal-content">
        <div class="modal-head">
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            (click)="modal.closeModal(mailExists)"
          >
            &times;
          </button>
        </div>
        <div class="modal-body">
          <img
            src="assets/img/mail.png"
            alt=""
          />
          <h2>
           Mail entered already exist on our platform.
           <br>
           Try again with another email id.
          </h2>
        </div>
        <button
          type="button"
          class="btn"
          data-dismiss="modal"
          (click)="modal.closeModal(mailExists)"
        >
          OK
        </button>
      </div>
    </div>
  </div>