<div class="wrapper">
    <div class="container">
        <h3 class="small-heading">
            Student Profile
        </h3>
        
        <div class="basic-details">
            <h2 class="name">
                {{student?.Name |titlecase}}
            </h2>
        </div>
           
            <div class="user-details">
                <div class="row">
                    <div class="col-md-6">
                        <div class="detail">
                            <h4> <img src="assets/img/icons/mail.svg" alt="mail" class="icon"> Email:</h4>
                            <p>
                              <a href="mailto:mandeepb29@gmail.com"> {{student?.Email}}</a>
                            </p>
                             
                          </div>
                    </div>
                    <div class="col-md-6">
                        <div class="detail">
                            <h4> <img src="assets/img/icons/telephone.svg" alt="mail" class="icon"> Contact:</h4>
                            <p>
                              <a href="tel:7389885126"> {{student?.Phone}}</a>
                            </p>
                             
                          </div>
                    </div>
                    <div class="col-md-6">
                        <div class="detail">
                            <h4> <img src="assets/img/icons/department.svg" alt="mail" class="icon"> Department:</h4>
                            <p>
                             {{student?.Department}}
                            </p>
                             
                          </div>
                    </div>
                    <div class="col-md-6">
                        <div class="detail">
                            <h4> <img src="assets/img/icons/calendar.svg" alt="mail" class="icon"> Batch:</h4>
                            <p>
                               {{student?.Batch}}
                            </p>
                             
                          </div>
                    </div>
                </div>
            <div class="interests">
                <h3>
                    Interested in: 
                </h3>
                <span class="tech" *ngFor="let tech of student?.Technologies">
                    {{tech}}
                </span>
            </div>
            <div class="about">
                <h3 class="heading">About</h3>

                <p>
                   {{student?.Bio}}
                </p>
            </div>
        </div>


        <div class="projects ">
            <div class="project-header">
                        <h3>
                             Projects by {{student?.Name}}
                        </h3>
            </div>
            <div class="project-card" *ngIf="!projects?.length">
                <h4>
                    {{student?.Name}} has not posted any projects yet.
                </h4>
            </div>
            <div class="project-body"  *ngIf="projects?.length">
                <div class="row">
                    <div class="col-lg-4 col-md-6" *ngFor="let project of projects">
                        <div class="project-card">
                            <h3 class="project-title">
                                {{project.Title}}
                            </h3>
                            <p class="project-desc">
                                {{project.Discription | shorten:50}}
                            </p>                         
                            <a class="btn btn-small"  [routerLink]="['/project/', project._id]">View More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
  
</div>